    <div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/perfilphoto.png"  class="img-fluid" id="fotodeperfil">
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <p id="nombre"> Chávez María Belén</p>
            <p>Full Stack Developer Jr</p>
        </div>
    <div class="col-xs-12 col-sm-8 col-lg-8">
        <span> 
            <h1>Acerca de mi</h1>
            <p>
                Soy una mujer con mucha curiosidad y ganas de aprender cosas nuevas. En constante aprendizaje y crecimiento. Con capacidad para adaptarme a grupos y al trabajo individual. Incursionando en el mundo del desarrollo de Software.
        
            </p>
        </span>
    </div>
</div>
