<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1>Tec. Superior en Administración de Empresas</h1> - 
            <h3>(2005- 2009)</h3> 
        </li>
 <p>Instituto Nuestra Señora de Lourdes
            </p>
            <p>Unquillo, Córdoba
            </p>
        </ul>
        <ul>
            <li><h1>Tec. Sup. en Higiene, Seguridad y Gestion Ambiental</h1> - 
            <h3>(2012-2015)</h3> 
        </li>
 <p>Institución Cervantes
            </p>
            <p>Córdoba Capital</p>
        </ul>
        <ul>
            <li><h1>Tester de Software QA</h1> - 
            <h3>(2021)</h3> 
        </li>
 <p> Education It
            </p>
            <p>Córdoba Capital
            </p>
        </ul>
    </div>

</div>

