<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1>Marketing Agricola SRL</h1> - 
            <h3>(2007-2012)</h3> 
        </li>
 <p>Administrativa
            </p>
            <p>
                Me desempeñé como administrativa general. Realicé
tareas tales como:
• Control de Stock.
• Confección de Libros de IVA.
• Facturación de Ventas.
• Utilización de Sistema Siap para la carga de
percepciones y retenciones de Ganancias, como
así también las de ARBA y Rentas Cordoba.
• Utilización del Sistema Manager 2 para la carga de
datos.
            </p>
        </ul>
        <ul>
            <li><h1>UpSoft SRL </h1> - 
            <h3>(2012-2019)</h3> 
        </li>
 <p>Administrativa
            </p>
            <p>
                Trabaje 5 años en el área de Administración haciendo todo
                tipo de tareas administrativas desde facturación hasta
                liquidaciones de Sueldos.    
            </p>
        </ul>
        <ul>
            <li><h1>UpSoft SRL - Urbansoft SA</h1> - 
            <h3>(2019-actualidad)</h3> 
        </li>
 <p>Tester de Software QA
            </p>
            <p>
                Realización de Testing: •funcional, •automatizado, •de regresión,
                •de stress, •de performance y carga, •apps móviles.
                •Definición de casos de pruebas.
                •Detección y reporte de issues.
                •Herramientas: Jira, Sikuli.
                •Conocimiento de metodologías ágiles.
                •Consultas en SQL
            </p>
        </ul>
    </div>

</div>
